@-webkit-keyframes bounce {
  0% {
    position: relative;
    top: 0px;
  }
  50% {
    position: relative;
    top: 5px;
  }
  100% {
    position: relative;
    top: 0px;
  }
}

@keyframes bounce {
  0% {
    position: relative;
    top: 0px;
  }
  50% {
    position: relative;
    top: 5px;
  }
  100% {
    position: relative;
    top: 0px;
  }
}

@-webkit-keyframes spinny {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes spinny {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes moveDown {
  0% {
    position: relative;
    bottom: 65px;
  }
  100% {
    position: relative;
    bottom: 0px;
  }
}

@keyframes moveDown {
  0% {
    position: relative;
    bottom: 65px;
  }
  100% {
    position: relative;
    bottom: 0px;
  }
}

@-webkit-keyframes slideIn {
  0% {
    position: relative;
    right: 300px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}

@keyframes slideIn {
  0% {
    position: relative;
    right: 300px;
  }
  100% {
    position: relative;
    right: 0px;
  }
}

.navBar {
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  background-color: white;
  width: 100vw;
  height: 60px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar a:visited {
  color: black;
}

.home {
  background-color: white;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .servicesButton {
  cursor: pointer;
}

.home .title {
  -webkit-animation-name: moveDown;
          animation-name: moveDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.home a:visited {
  color: black;
}

.genre {
  background-color: white;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.genre .genreList {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  border: thin black solid;
}

.genre .genreList:hover {
  background-color: black;
  color: white;
}

.googleMaps .googleInfo {
  background-color: white;
  -webkit-box-shadow: 1px 1px black;
          box-shadow: 1px 1px black;
  position: absolute;
  z-index: 10;
  width: 15%;
  height: 80%;
  overflow-y: scroll;
}

.googleMaps .googleInfo img {
  width: 100%;
}

.googleMaps .googleInfo .summaryToggle {
  cursor: pointer;
}

.googleMaps .googleInfo .bookNow {
  cursor: pointer;
}

.businesses {
  background-color: white;
  padding-top: 60px;
}

.businesses .companyDisplay {
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  height: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.businesses .companyDisplay img {
  width: 300px;
}

.businesses .companyDisplay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border: thin black solid;
  width: 200px;
  cursor: pointer;
}

.businesses .companyDisplay div:hover {
  background-color: black;
  color: white;
}

.company {
  background-color: white;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company img {
  max-width: 500px;
}

.company .companySummary {
  margin: 80px;
}

.company .companyModal {
  border: thin black solid;
  padding: 10px;
  cursor: pointer;
}

.company .companyModal:hover {
  background-color: black;
  color: white;
}

.company .employeeCard {
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

.booked {
  background-color: white;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#form-container .modalClose {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  cursor: pointer;
}

#form-container .modalClose:hover {
  -webkit-animation-name: spinny;
          animation-name: spinny;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#form-container .submissionForm .handleSubmission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: thin black solid;
  padding: 10px;
  cursor: pointer;
}

#form-container .submissionForm .handleSubmission:hover {
  background-color: black;
  color: white;
}

#form-container .submissionForm .rdt .rdtPicker .rdtDay.rdtDisabled {
  background-color: red;
  border: black thin solid;
  cursor: none;
}

#form-container .submissionForm .rdt .rdtPicker .rdtDay {
  cursor: pointer;
}

#form-container .submissionForm .rdt .rdtTimeToggle {
  border: black thin solid;
  cursor: pointer;
}

#form-container .submissionForm .rdt .rdtTimeToggle:hover {
  background-color: black;
  color: white;
}

#form-container .submissionForm .rdt .rdtCounters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form-container .submissionForm .rdt .rdtCounters .rdtBtn {
  cursor: pointer;
}

#form-container .submissionForm .rdt .rdtCounters .rdtBtn:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.googleInfo .bookNow {
  padding: 10px;
  border: thin solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
}

.googleInfo .bookNow:hover {
  background-color: black;
  color: white;
}
/*# sourceMappingURL=App.css.map */